CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/venv/
/uploads/
/logs/
/certs/
/data/
*.db
*.csr
/cmake-build/
/smake-build-debug/
test_scripts/curl/result.json
